.sidebar {
  width: 250px;
  background-color: #ffffff;
  border-right: 1px solid #ccc;
  height: 100vh;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
  font-size: 20px;
  color: #075e54;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #f6f6f6;
}

.sidebar li.active,
.sidebar li:hover {
  background-color: #e1f3e7;
  font-weight: bold;
  color: #075e54;
}
