.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../assets/wallpaper.jpg');
  background-size: cover;
  background-position: center;
  font-family: 'Segoe UI', sans-serif;
}

.login-box {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 320px;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
  color: #075e54;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background-color: #25d366;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.login-box button:hover {
  background-color: #20bd5e;
}

.login-box p {
  margin-top: 15px;
  font-size: 14px;
}

.login-box a {
  color: #128c7e;
  text-decoration: none;
  font-weight: 500;
}
