.register-container {
  background-image: url("../../assets/wallpaper.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-box {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 30px;
  border-radius: 10px;
  width: 320px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.register-box h2 {
  margin-bottom: 20px;
  color: #075e54;
  font-family: 'Segoe UI', sans-serif;
}

.register-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-box button {
  width: 100%;
  padding: 10px;
  background-color: #25d366;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.register-box button:hover {
  background-color: #1da851;
}

.register-box p {
  margin-top: 15px;
  font-size: 14px;
}
